*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  text-align: center;
  background-color: rgb(26, 54, 135);
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  color: rgb(26, 54, 135);
}

main {
  background-color: aliceblue;
  width: 30vw;
  border-radius: 1rem;
}

